﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
            <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,500,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!-- Bootstrap -->
        @*<link href="css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <!-- FontAwesome -->
        @*<link rel="stylesheet" href="css/font-awesome.min.css">*@
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
        <!-- MaterialCSS -->
        @*<link rel="stylesheet" href="css/material.min.css">*@
    <link href="~/Content/material.min.css" rel="stylesheet" />
        <!-- RipplesCSS -->
        @*<link rel="stylesheet" href="css/ripples.min.css">*@

    <link href="~/Content/ripples.min.css" rel="stylesheet" />
        <!-- ThemeCSS & Responsive CSS -->
        @*<link rel="stylesheet" href="style.css">*@
    <link href="~/Content/style.css" rel="stylesheet" />
        @*<link rel="stylesheet" href="css/responsive.css">*@
    <link href="~/Content/ripples.min.css" rel="stylesheet" />
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <META NAME="Description" CONTENT="Super Hero Inc., superhero, citizen safety, drop crime rates, villain">


</head>
<body>
    <header class="header">
        <div data-velocity="-.4" id="particles" class="header-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="social-links">
                        <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-facebook"></i> <div class="ripple-wrapper"></div></a>
                        <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-twitter"></i> <div class="ripple-wrapper"></div></a>
                        <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-google-plus"></i> <div class="ripple-wrapper"></div></a>
                        <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-youtube"></i> <div class="ripple-wrapper"></div></a>
                        <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-instagram"></i> <div class="ripple-wrapper"></div></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-title-table">
            <div class="site-title-tablecell">
                <div class="slide-text">
                    <h2><span>S</span>uper<span>H</span>eros</h2>
                    <p>Another exciting blog template from awesome team</p>
                </div>
            </div>
        </div>
    </header>

    <section class="maincontent-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="maincotnent shadow-z-1">
                        <div class="mainmenu">
                            <div class="navbar navbar-nobg">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="color:fuchsia">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                        <li>@Html.ActionLink("About", "About", "Home")</li>
                                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                        @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Hero"))){
                                            <li>@Html.ActionLink("Characters","Index","Characters")</li>
                                        }

                                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                                            <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                                                <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                                        }
                                    </ul>
                                    @Html.Partial("_LoginPartial")
                                </div>
                            </div>
                        </div>

                        @*<div class="navbar navbar-inverse navbar-fixed-top">
                                <div class="container">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
                                    </div>
                                    <div class="navbar-collapse collapse">
                                        <ul class="nav navbar-nav">
                                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                            <li>@Html.ActionLink("About", "About", "Home")</li>
                                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                                            @if (Request.IsAuthenticated && User.IsInRole("Admin")) {
                                                <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                                                <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                                            }
                                        </ul>
                                        @Html.Partial("_LoginPartial")
                                    </div>
                                </div>
                            </div>*@
                        @*<div class="container body-content">*@
                        @RenderBody()
                        @RenderSection("Scripts",required: false)
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-lg-offset-1">
                    <div class="footer-wid">
                        <h2 class="wid-title">A<span>vengers</span></h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan,
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="footer-wid">
                        <h2 class="wid-title">Newsletter</h2>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

                        <div class="newsletter-form">
                            <form action="index.html">
                                <input class="shadow-z-1" type="email" placeholder="Your Email address">
                                <button type="submit" class="btn btn-material-red">Subscribe Now!</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="footer-bottom">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="copyright-text">
                                    <p>© 2015 Avengers - All Rights Reserved. Coded with <i class="fa fa-heart"></i> by <a href="http://wpexpand.com" target="_blank">WP Expand</a></p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="social-links footer-social-links">
                                    <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-facebook"></i> <div class="ripple-wrapper"></div></a>
                                    <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-twitter"></i> <div class="ripple-wrapper"></div></a>
                                    <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-google-plus"></i> <div class="ripple-wrapper"></div></a>
                                    <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-youtube"></i> <div class="ripple-wrapper"></div></a>
                                    <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-linkedin"></i> <div class="ripple-wrapper"></div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@
 
    
       <script src="~/Content/js/jquery-1.11.2.min.js"></script>

    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/material.min.js"></script>
    <script src="~/Content/js/ripples.min.js"></script>
    <script src="~/Content/js/jquery.scrolly.js"></script>
    <script src="~/Content/js/jquery.particleground.min.js"></script>
    <script src="~/Content/js/main.js"></script>
</body>

</html>
