﻿@model IEnumerable<Superhero.DATA.Character>

@{
    ViewBag.Title = "Index";
}


<h2>Heroes and Villains</h2>
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alignment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.origin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alignment)
        </td>
        <td>

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{

            @Html.ActionLink("Edit", "Edit", new { id = item.CharacterID }) @:|
                                                                            }
            @Html.ActionLink("Details", "Details", new { id=item.CharacterID }) 
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{ @:|

            @Html.ActionLink("Delete", "Delete", new { id = item.CharacterID })
}
        </td>
    </tr>
}

</table>
