﻿@{
    ViewBag.Title = "About";
}
<div class="row-fluid">
    <div class="span12">
        <h2>Mission</h2>
        <p>Our mission is to provide protection against villains and educate our community about safety. We hope to develop a
community of pro-active citizens who are vigilant in keeping streets safe through knowledge and awareness. </p>
        <h2>Programs/Services</h2>
        <p>Super Heroes, Inc. is a dedicated group of heroes who strive to provide programs that emphasize growth through
education, safety training, and challenges. We provide citizens, of all ages, with hands-on, interactive programs to
encourage safety and respect for others.
We offer one self-defense class a week at our Super Heroes, Inc. training center and one education course a week at the
local library.
</p>
        <ul>
            <li>
                Self Defense welcomes all ages to learn techniques to increase your personal safety. It meets on Monday
                evenings at 7pm.
            </li>
            <li>
                Our Education series provides hour long programs with super heroes who teach about varied topics. It
                meets on Thursday evenings at 7:30pm. Recent discussions included:
<ul>
    <li>
        Hulk teaching about Anger Management.
    </li>
    <li>
        Batman teaching about Underground Cave Construction.
</li>
    <li>
        Ironman teaching about Self Awareness.
    </li>
</ul>
            </li>
        </ul>

    </div>
</div>