﻿@{
    ViewBag.Title = "Home Page";
}
                        <div class="col-md-10 col-md-offset-1">
                            <div class="article-list">
                                <article class="post">
                                    <header class="article-title text-center">
                                        <p>Nature</p>
                                        <h2>Green Lantern for Green World!</h2>
                                        <p class="post-meta">by Farhan Rizvi 11th May</p>
                                    </header>

                                    <div class="article-featured-content shadow-z-2">
                                        <img class="img-responsive" src="~/Content/img/post-2.jpg" alt="">
                                    </div>

                                    <div class="post-summary">
                                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                    </div>

                                    <div class="post-detail-link text-center">
                                            <i class="fa fa-plus"></i>
                                            <div class="ripple-wrapper"></div>
                                                                           </div>
                                </article>
                                <article class="post">
                                    <header class="article-title text-center">
                                        <p>Movie</p>
                                        <h2>My Favorite Spiderman Movie</h2>
                                        <p class="post-meta">by Ratul Ahmed 09th May</p>
                                    </header>

                                    <div class="article-featured-content shadow-z-2">
                                        <img class="img-responsive" src="~/Content/img/post-1.jpg" alt="">
                                    </div>

                                    <div class="post-summary">
                                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                    </div>

                                    <div class="post-detail-link text-center">
                                        
                                            <i class="fa fa-plus"></i>
                                            <div class="ripple-wrapper"></div>
                                        
                                    </div>
                                </article>
                                <article class="post">
                                    <header class="article-title text-center">
                                        <p>Movie</p>
                                        <h2>Marvel Phase to SuperCut</h2>
                                        <p class="post-meta">by Rasel Ahmed 07th May</p>
                                    </header>

                                    <div class="article-featured-content shadow-z-2">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/113767337" width="500" height="281"></iframe>
                                        </div>

                                    </div>

                                    <div class="post-summary">
                                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                    </div>

                                    <div class="post-detail-link text-center">
                                        
                                            <i class="fa fa-plus"></i>
                                            <div class="ripple-wrapper"></div>
                                        
                                    </div>
                                </article>
                                <article class="post">
                                    <header class="article-title text-center">
                                        <p>Fun</p>
                                        <h2>The Return of Hulk!</h2>
                                        <p class="post-meta">by Tamanna Ferdous  07th May</p>
                                    </header>

                                    <div class="article-featured-content shadow-z-2">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Y9FUzBEH_v8" width="500" height="281"></iframe>
                                        </div>
                                    </div>

                                    <div class="post-summary">
                                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                    </div>

                                    <div class="post-detail-link text-center">
                                        
                                            <i class="fa fa-plus"></i>
                                            <div class="ripple-wrapper"></div>
                                       
                                    </div>
                                </article>
                                <article class="post">
                                    <header class="article-title text-center">
                                        <p>Character</p>
                                        <h2>Thor - The Hero of Power!</h2>
                                        <p class="post-meta">by Farhan Rizvi  06th May</p>
                                    </header>

                                    <div class="article-featured-content shadow-z-2">
                                        <img class="img-responsive" src="~/Content/img/article-2.jpg" alt="">
                                    </div>

                                    <div class="post-summary">
                                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                    </div>

                                    <div class="post-detail-link text-center">
                                        
                                            <i class="fa fa-plus"></i>
                                            <div class="ripple-wrapper"></div>
                                        
                                    </div>
                                </article>
                                <article class="post">
                                    <header class="article-title text-center">
                                        <p>Analysis</p>
                                        <h2></h2>
                                        <p class="post-meta">by Rasel Ahmed  05th May</p>
                                    </header>

                                    <div class="article-featured-content shadow-z-2">
                                        <img class="img-responsive" src="~/Content/img/article-3.jpg" alt="">
                                    </div>

                                    <div class="post-summary">
                                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                    </div>

                                    <div class="post-detail-link text-center">
                                            <i class="fa fa-plus"></i>
                                            <div class="ripple-wrapper"></div>
                                    </div>
                                </article>
                                <article class="post">
                                    <header class="article-title text-center">
                                        <p>Movie</p>
                                        <h2>The Target Man!</h2>
                                        <p class="post-meta">by Ratul Ahmed  05th May</p>
                                    </header>

                                    <div class="article-featured-content shadow-z-2">
                                        <img class="img-responsive" src="~/Content/img/article-4.jpg" alt="">
                                    </div>

                                    <div class="post-summary">
                                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                    </div>

                                    <div class="post-detail-link text-center">
                                        
                                            <i class="fa fa-plus"></i>
                                            <div class="ripple-wrapper"></div>
                                        
                                    </div>
                                </article>
                                <article class="post">
                                    <header class="article-title text-center">
                                        <p>Secret</p>
                                        <h2>Mind can be controled like mine!</h2>
                                        <p class="post-meta">by Unknown  02nd May</p>
                                    </header>

                                    <div class="article-featured-content shadow-z-2">
                                        <img class="img-responsive" src="~/Content/img/article-5.jpg" alt="">
                                    </div>

                                    <div class="post-summary">
                                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                    </div>

                                    <div class="post-detail-link text-center">
                                        
                                            <i class="fa fa-plus"></i>
                                            <div class="ripple-wrapper"></div>
                                        
                                    </div>
                                </article>


                                <nav role="navigation" class="navigation posts-navigation">
                                    <div class="nav-links">
                                        <div class="nav-previous">
                                            <a href="#">Older posts</a>
                                        </div>
                                        <div class="nav-next">
                                            <a href="#">Newer posts</a>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
